.youtube-player{
  height: 250px;
  width: 90%;
  max-width: 960px;
}

.youtube-button{
  height: 50px;
  width: 50px;
}

.youtube-button:hover{
  color: #00FA9A;
}

.isplaying{
  color: #00FA9A;
}

.url-holder{
  top: 330px;
  position: sticky;
  background-color: #212529;
  padding-bottom: 30px;
}

.url-input{
  max-width: 800px;
  width: 80%;
  position: sticky;
}

.youtube-title{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.youtube-title{
  top: 378px;
}

.content-holder{
  background-color: #212529;
  padding-bottom: 60px;
}

.youtube-content{
  width: 90%;
  max-width: 960px;
  height: fit-content;
  overflow-y: auto;
}

.youtube-thumbnail{
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-description{
    white-space: pre;
    text-align: left;
    max-height: 350px;
    font-size: 0.9em;
}

.pop-holder{
  width: 80%;
}

.pop-open{
  width: 200px;
}

.pop-open:hover{
  color: #00FA9A;
}

#position-range{
  min-width: 100px;
  max-width: 900px;
  appearance: auto;
  accent-color: MediumSpringGreen;
  border-radius: 8px;
  background: linear-gradient(to right, #00FA9A 0%, #00FA9A 100%);
  border-radius: 8px;
  -webkit-appearance: none;
  margin: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: 0px; /* Centers thumb on the track */
   background-color: transparent;
   height: 0.5rem;
   width: 0.5rem;
   border-radius: 0.5rem;
}
