body {
  min-height: 100vh;
}

#list-holder {
  background-color: #212529;
}

#root {
  height: 100vh;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

#navbar-container {
    width: 90%;
    max-width: 960px;
}

.spacer {
  height: 3rem;
  background-color: #212529;
}


.brand-icon {
  color: coral;
  width: 25px;
  height: 25px;
}

.station {
  height: 2.5em;
}

.text-input {
  word-break: break-all;
}

.station-list {
  table-layout: fixed;
}

td {
  word-wrap: break-word;
}


#navbar-holder {
  position: sticky;
  top: 0px;
  border-bottom: 2px solid #2c3237;
}

